<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.ptt.mapper.CusMapper">

    <resultMap id="CusResultMap" type="me.zhengjie.modules.ptt.domain.Cus">
        <result column="id" javaType="Long" property="id"/>
        <result column="type" javaType="String" property="type"/>
        <result column="title" javaType="String" property="title"/>
        <result column="status" javaType="String" property="status"/>
        <result column="remark" javaType="String" property="remark"/>
        <result column="sort" javaType="Integer" property="sort"/>
    </resultMap>

    <select id="selectAll" resultMap="CusResultMap">
        select cus.`id`          `id`,
               cus.`dept_id`     `dept_id`,
               cus.`type`        `type`,
               cus.`dict_id`     `dict_id`,
               cus.`title`       `title`,
               cus.`cus_sort`    `cus_sort`,
               cus.`status`      `status`,
               cus.`create_by`   `create_by`,
               cus.`update_by`   `update_by`,
               cus.`create_time` `create_time`,
               cus.`update_time` `update_time`,
               cus.`remark`      `remark`
        from ptt_cus cus
    </select>

</mapper>