<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.ptt.mapper.PatientMapper">

    <resultMap id="PatientResultMap" type="me.zhengjie.modules.ptt.domain.Patient">
        <result column="id" javaType="Long" property="id"/>
        <result column="patient_id" javaType="Long" property="patientId"/>
        <result column="name" javaType="String" property="name"/>
        <result column="mrn" javaType="String" property="mrn"/>
        <result column="cert_no" javaType="String" property="certNo"/>
        <result column="phone" javaType="String" property="phone"/>
        <result column="birthday" javaType="String" property="birthday"/>
        <result column="profession" javaType="String" property="profession"/>
        <result column="address" javaType="String" property="address"/>
        <result column="contact_name" javaType="String" property="contactName"/>
        <result column="contact_phone" javaType="String" property="contactPhone"/>
        <result column="contact_relation" javaType="String" property="contactRelation"/>
        <result column="status" javaType="String" property="status"/>
        <result column="remark" javaType="String" property="remark"/>
    </resultMap>

    <resultMap id="PatientWithColsResultMap"
               extends="PatientResultMap"
               type="me.zhengjie.modules.ptt.domain.PatientFull">

        <association property="dept" columnPrefix="dept_" resultMap="me.zhengjie.modules.system.mapper.DeptMapper.DeptResultMap"/>

        <collection property="cols"
                    ofType="me.zhengjie.modules.ptt.domain.PatientCus"
                    select="me.zhengjie.modules.ptt.mapper.PatientCusMapper.selectFull"
                    column="{patientId=id,deptId=dept_id}"/>
    </resultMap>

    <select id="selectById" resultMap="PatientResultMap">
        select patient.`id` `id`,
        patient.`patient_id` `patient_id`,
        patient.`name` `name`,
        patient.`mrn` `mrn`,
        patient.`cert_no` `cert_no`,
        patient.`phone` `phone`,
        patient.`birthday` `birthday`,
        patient.`profession` `profession`,
        patient.`address` `address`,
        patient.`contact_name` `contact_name`,
        patient.`contact_phone` `contact_phone`,
        patient.`contact_relation` `contact_relation`,
        patient.`status` `status`,
        patient.`create_by` `create_by`,
        patient.`update_by` `update_by`,
        patient.`create_time` `create_time`,
        patient.`update_time` `update_time`,
        patient.`remark` `remark`
        from ptt_patient patient
        where 1=1
        <if test="id != null">
            and patient.id = #{id}
        </if>
    </select>

    <select id="selectWithCols" resultMap="PatientWithColsResultMap">
        select p.*,
        d.dept_id dept_dept_id,
        d.`name` dept_name,
        d.dept_id dept_id
        from ptt_patient p
        left join ptt_patient_dept pd on p.id = pd.patient_id
        left join sys_dept d on pd.dept_id = d.dept_id
        where 1=1
        <if test="id != null">
            p.id = #{id}
        </if>
    </select>

</mapper>