<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.ptt.mapper.PatientCusMapper">

    <resultMap id="PatientCusResultMap" type="me.zhengjie.modules.ptt.domain.PatientCus">
        <result column="id" javaType="Long" property="id"/>
        <result column="type" javaType="String" property="type"/>
        <result column="value" javaType="String" property="value"/>
        <result column="status" javaType="String" property="status"/>
        <result column="remark" javaType="String" property="remark"/>
    </resultMap>

    <resultMap id="PatientCusFullResultMap" extends="PatientCusResultMap" type="me.zhengjie.modules.ptt.domain.PatientCus">
        <association property="cus"
                     resultMap="me.zhengjie.modules.ptt.mapper.CusMapper.CusResultMap"
                     columnPrefix="cus_"/>

        <association property="dept"
                     resultMap="me.zhengjie.modules.system.mapper.DeptMapper.DeptResultMap"
                     columnPrefix="dept_"/>

        <association property="patient"
                     resultMap="me.zhengjie.modules.ptt.mapper.PatientMapper.PatientResultMap"
                     columnPrefix="patient_"/>

        <association property="dict"
                     resultMap="me.zhengjie.modules.system.mapper.DictMapper.DictResultMap"
                     columnPrefix="dict_"/>

    </resultMap>

    <select id="selectById" resultMap="PatientCusResultMap">
        select patient_cus.`id` `id`,
        patient_cus.`cus_id` `cus_id`,
        patient_cus.`dept_id` `dept_id`,
        patient_cus.`patient_id` `patient_id`,
        patient_cus.`type` `type`,
        patient_cus.`dict_id` `dict_id`,
        patient_cus.`value` `value`,
        patient_cus.`status` `status`,
        patient_cus.`create_by` `create_by`,
        patient_cus.`update_by` `update_by`,
        patient_cus.`create_time` `create_time`,
        patient_cus.`update_time` `update_time`,
        patient_cus.`remark` `remark`
        from ptt_patient_cus patient_cus
        where 1=1
        <if test="id != null">
            and cus.id = #{id}
        </if>
    </select>

    <select id="selectFull" resultMap="PatientCusFullResultMap">
        select patient_cus.`id` `id`,
        patient_cus.`cus_id` `cus_id`,
        patient_cus.`dept_id` `dept_id`,
        patient_cus.`patient_id` `patient_id`,
        patient_cus.`type` `type`,
        patient_cus.`dict_id` `dict_id`,
        patient_cus.`value` `value`,
        patient_cus.`status` `status`,
        patient_cus.`create_by` `create_by`,
        patient_cus.`update_by` `update_by`,
        patient_cus.`create_time` `create_time`,
        patient_cus.`update_time` `update_time`,
        patient_cus.`remark` `remark`,
        dept.`dept_id` `dept_dept_id`,
        dept.`pid` `dept_pid`,
        dept.`sub_count` `dept_sub_count`,
        dept.`level` `dept_level`,
        dept.`name` `dept_name`,
        dept.`dept_sort` `dept_dept_sort`,
        dept.`enabled` `dept_enabled`,
        dept.`create_by` `dept_create_by`,
        dept.`update_by` `dept_update_by`,
        dept.`create_time` `dept_create_time`,
        dept.`create_by` `dept_update_time`,
        patient.`id` `patient_id`,
        patient.`patient_id` `patient_patient_id`,
        patient.`name` `patient_name`,
        patient.`mrn` `patient_mrn`,
        patient.`cert_no` `patient_cert_no`,
        patient.`phone` `patient_phone`,
        patient.`birthday` `patient_birthday`,
        patient.`profession` `patient_profession`,
        patient.`address` `patient_address`,
        patient.`contact_name` `patient_contact_name`,
        patient.`contact_phone` `patient_contact_phone`,
        patient.`contact_relation` `patient_contact_relation`,
        patient.`status` `patient_status`,
        patient.`create_by` `patient_create_by`,
        patient.`update_by` `patient_update_by`,
        patient.`create_time` `patient_create_time`,
        patient.`update_time` `patient_update_time`,
        patient.`remark` `patient_remark`,
        dict.`dict_id` `dict_dict_id`,
        dict.`name` `dict_name`,
        dict.`description` `dict_description`,
        dict.`create_by` `dict_create_by`,
        dict.`update_by` `dict_update_by`,
        dict.`create_time` `dict_create_time`,
        dict.`update_time` `dict_update_time`
        from ptt_patient_cus patient_cus
        left join ptt_cus cus on patient_cus.cus_id = cus.id
        left join sys_dept dept on patient_cus.dept_id = dept.dept_id
        left join ptt_patient patient on patient_cus.patient_id = patient.id
        left join sys_dict dict on patient_cus.dict_id = dict.dict_id
        where 1 = 1
        <if test="id != null">
            and patient_cus.id = #{id}
        </if>
        <if test="patientId != null">
            and patient_cus.patient_id = #{patientId}
        </if>
        <if test="deptId != null">
            and patient_cus.dept_id = #{deptId}
        </if>
    </select>

</mapper>